@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --black: #212121;
    --charcoal: #323232;
    --prismarine: #0D7377;
    --teal: #14FFEC;
    --purple: #5280e2;
    --green: #15cdcb;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background: var(--black);
}

body, button, input, select, textarea {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: white;
}

h1, h2 {
    margin: 0;
    font-weight: 400;
}

p {
    /* Sou um desenvolvedor amador de aplicações que às vezes funcionam. */
    font-size: 20px;
    line-height: 23px;
    text-align: justify;
}

button {
    /* Entre em contato */
    background: var(--purple);
    border: 0;
    border-radius: 15px;
    padding: 8px 32px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

header {
    /* background: red; */
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}   

header .container h1 {
    color: var(--teal);
    font-size: 48px;
}

/* Para não aparecer o logo quando for desktop */
header .container img {
    display: none;  
}

header .container button {
    /* Entre em contato */
    margin-top: 40px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 100px;
    position: sticky;
    top: 0;
    background-color: var(--charcoal);
}

nav img {
    height: 26px;
}

nav ul a {
    color: var(--teal);
    font-size: 20px;
    text-decoration: none;
    margin: 0 35px;
}

nav ul a svg {
    display: none;
}

.about-me {
    display: flex;
    padding: 100px;
}

.about-me .container {
    width: 50%;
    padding-right: 50px;
}

.about-me .img-container {
    width: 50%;
    text-align: center;
    position: relative;
}

.about-me .img-container img {
    width: 70%;
    height: 100%;
}

.about-me .img-container .line {
    width: calc(70% + 50px);
    height: calc(100% + 50px);
    border: 1px solid var(--purple);

    position: absolute;
    top: -25px;
    left: calc(50% - 70%/2 - 25px);
}

.about-me .img-container .line.green {
    transform: rotate(-4.3deg);
    border-color: var(--green);
}

/* Melhora a resposividade retirando a margim do 'nav ul a', pois a margim atrapalha quebrando muito facil */
nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* Responsividade */

/* Suporte para tablets */
@media (max-width:767px) {
    header .container{
        width: 100%;
    }

    header .container img{
        display: inline;
        height: 55px;
        margin-bottom: 75px;
    }

    nav img{
        display: none;
    }
} 

/* Suporte para celulares com tela abaixo de 480px */
@media (max-width: 480px) {
    header .container {
        padding: 0 40px;
    }

    nav {
        position: fixed;
        width: 100%;
        bottom: 0;
        top: unset;
        padding: 0 15px;
    }

    nav ul a {
        font-size: 12px;
    }

    nav ul a svg {
        display: block;
        margin: 0 auto 10px;
    }
}
